*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #F4F4F9;
    --bg-skills-color: 1, 186, 239, 0.3;
    --text-skills-color: #01baef ;
    --text-color: #0B032D;
    --supinfo-color: #626267;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    --bg-slide: #050505;
    --tab-line: 153, 153, 157, 0.5;
    --btn-tab: #01baef;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
/* page 1 Start*/
.container-profile{
    display: flex;
    width: 70%;
    background-color: var(--bg-color);
    border-radius: 16px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.profile-line{
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 20px;
}
.img-profile {
    width: 250px;
    height: 330px;
}
.img-profile img{
    width: 100%;
    border-radius: 8px;
}
.double-line{
    position: relative;
    width: 100%;
    height: 1px;
    background-color: var(--supinfo-color);
}
.double-line::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    background: var(--supinfo-color);
}
.heading-with-line{
    display: flex;
    align-items: center;
    color: var(--supinfo-color);
    font-size: .8rem;
}
.heading-with-line .sub-topic{
    margin-right: 10px;
}
.heading-with-line .line{
    flex: 1;
}
.profile-education{

}
.profile-education h3{
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}
.profile-education p{
    font-size: .8rem;
    color: var(--supinfo-color);
}
.profile-skills{

}
.profile-skills ul{
    list-style-type: none;
}
.profile-skills ul li{
    color: var(--text-color);
    margin-bottom: 10px;
}
.profile-skills ul li span{
    background-color: rgba(var(--bg-skills-color));
    color: var(--text-skills-color);
    padding: 3px;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 0.8rem;
}
/* page 1 End */

/* page 2 Start*/
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 50px 0px;
}
/* article 1 Start */
.profile-user{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.profile-user div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-user h1 {
    font-size: 1.5rem;
}
.profile-user div span{
    display: flex;
    gap: 8px;
    font-size: .9rem;
    color: var(--supinfo-color);
}
.profile-user span{
    font-weight: 300;
    color: var(--text-skills-color);
}
.contact-logo{
   display: flex;
   gap: 10px;
}
.contact-logo svg{
    width: 50px;
}
/* article 1 End*/

/* article 2 Start */
.profile-info__section2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 /* Start tab */
.tabs{
    border-bottom: 2px solid rgba(var(--tab-line)) ;
 }
 .tab-btn{
    width: 100px;
    height: 40px;
    border: none;
    background: none;
    color: var(--supinfo-color);
    cursor: pointer;
    position: relative;
 }
.tab-btn.active{
    font-weight: bold;
    color: var(--text-color);
    border-bottom: var(--btn-tab);
}
.tab-btn.active::after{
    content: "";
    position: absolute;
    background-color: var(--btn-tab);
    bottom: -2px;
    height: 3px;
    left: 0px;
    right: 0;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;

}
.tab-content.title{
    display: block;
}
.title{
    display: block;
    margin: 20px 0px;
    color: var(--supinfo-color);
}
.contact-timeline{

}
.contact-info tr{
    display: block;
    margin: 10px 0px;   
}
.sub-title{
    width: 100px;
}
/* End teb */



/* page 2 End*/