*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: ##F4F4F9;
    --bg-skills-color: 1, 186, 239, 0.3;
    --text-skills-color: #01baef ;
    --text-color: #0B032D;
    --supinfo-color: #626267;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    --bg-slide: #050505;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
/* page 1 */
.container-profile{
    display: flex;
    width: 70%;
    background-color: var(--bg-color);
    border-radius: 16px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.profile-line{
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 20px;
}
.img-profile {
    width: 250px;
    height: 330px;
}
.img-profile img{
    width: 100%;
    border-radius: 8px;
}
.double-line{
    position: relative;
    width: 100%;
    height: 1px;
    background-color: var(--supinfo-color);
}
.double-line::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    background: var(--supinfo-color);
}
.heading-with-line{
    display: flex;
    align-items: center;
    color: var(--supinfo-color);
    font-size: .8rem;
}
.heading-with-line .sub-topic{
    margin-right: 10px;
}
.heading-with-line .line{
    flex: 1;
}
.profile-education{

}
.profile-education h3{
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}
.profile-education p{
    font-size: .8rem;
    color: var(--supinfo-color);
}
.profile-skills{

}
.profile-skills ul{
    list-style-type: none;
}
.profile-skills ul li{
    color: var(--text-color);
    margin-bottom: 10px;
}
.profile-skills ul li span{
    background-color: rgba(var(--bg-skills-color));
    color: var(--text-skills-color);
    padding: 3px;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 0.8rem;
}

/* page 2 */

.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}